# ---> Dart
# Pub
.dart_tool/
.packages
pubspec_overrides.yaml

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
GeneratedPluginRegistrant.java

# Generated
*.g.dart
*.freezed.dart
*.schema.dart
*.mapper.dart
*.module.dart
*.config.dart
*.pb*.dart

# ---> Java / Kotlin
# Gradle
build/
.gradle/
captures/

# Local
local.properties

# ---> Custom
# Integrated development environment
.idea/
*.iml
.vs/
.vscode/
